:root {
  --accent-color: #2196f3;
  --main-background-color: #e5e5e5;
  --titel-color: #212121;
  --heder-background-color: #ffffff;
  --titel-text-color: #757575;
  --hero-background-color: #2f303a;
}

body {
  color: var(--titel-text-color);
  background-color: var(--main-background-color);
  font-size: 14px;
  line-height: 1.4;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* header */
.page-header {
  background-color: var(--heder-background-color);
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.span {
  color: var(--accent-color);
}
.site-nav .link-nav {
  color: var(--titel-color);
  width: 500px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.site-nav .link-nav:hover,
.site-nav .link-nav:focus {
  color: var(--accent-color);
}
.site-nav .link-nav:active {
  color: var(--accent-color);
}
.contact .link-contact {
  color: var(--titel-text-color);
}
.contact .link-contact:hover,
.contact .link-contact:focus {
  color: var(--accent-color);
}
.contact .link-contact:active {
  color: var(--accent-color);

  /* hero */
}
.hero {
  background-color: var(--hero-background-color);
}
.page-hero {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--heder-background-color);
}
.button {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--heder-background-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.section {
  background-color: var(--main-background-color);
}
.section-team {
  background-color: #f5f4fa;
}
.title {
  font-family: "Roboto";
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--titel-color);
}
.subtitle {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--titel-color);
}
.title-name {
  font-family: "Roboto";

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--titel-color);
}
